html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}

.logo {
  padding: 10px;
  height: 150px;
}

header {
  box-shadow: 0px 10px 10px 1px #ddd;
  margin-bottom: 50px;
}

.result {
  max-width: 1024px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

tbody {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

td:nth-child(1) {
  min-width: 150px;
  white-space: normal;
}

td:nth-child(2) {
  min-width: 200px;
  white-space: normal;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #ececec;
}
