html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 100px;
}

.logo {
  padding: 10px;
  height: 150px;
}

header {
  box-shadow: 0px 10px 10px 1px #ddd;
  margin-bottom: 50px;
}

.contact-form {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.contact-form .form {
  display: flex;
  flex-direction: column;
}

.contact-form input[type='email'],
.contact-form input[type='text'],
.contact-form textarea {
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  padding: 10px 7px;
  margin-bottom: 15px;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form .button {
  background: #da552f;
  border: solid 1px #da552f;
  color: white;
  cursor: pointer;
  padding: 10px 50px;
  text-align: center;
  text-transform: uppercase;
}

.contact-form .button:hover {
  background: #ea532a;
  border: solid 1px #ea532a;
}
